extends layout

block head
    script(src='/socket.io/socket.io.js')
    != js('broadcast')

block content
    #record

        .overlay

        .before
            h2.code Your Secret code is 
                span#secret= secret

            p To start recording your gesture, please visit happyhands.jit.su on a speperate device and enter your secret code.

            a#start.btn.btn-success.btn-large(href='#') Start Recording

            p If you've come to this page looking for more information about the library, please visit 
                a(href = '/home') the home page

        .recording
            h2 Recording...
            a#stop.btn.btn-danger.btn-large(href='#') Stop

        .complete
            h2 Complete
            a#restart.btn.btn-primary.btn-large(href='#') Start Over