extends layout

block content
    #home
        h2 What do you want to do today?
        .wrap
            a.test_drive.btn.btn-primary.btn-large(href = '/test_drive') Test Drive
            a.make.btn.btn-primary.btn-large(href = '/make') Make