!!! 5
html
    head
        title Happy Hands
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

        link(href='/css/bootstrap.css', rel='stylesheet')
        link(href='/css/bootstrap-responsive.css', rel='stylesheet')

        != css('app')

        script(src='http://code.jquery.com/jquery-1.8.0.min.js')

        != js('app')

        block head

    body

        block navigation

        .container.main
            block content