@import nib

$pink       = #FFB3B3
$red        = #ff0000
$grey       = grey


#primary_nav
    .navbar-inner
        border-radius   0

.alert-heading
    margin-bottom       15px


#home
    h2
        text-align      center
        margin-bottom   50px

    .wrap
        width           60%
        margin          auto

    .btn
        width           40%
        display         block
        margin          auto
        font-size       1.5em

    .listen
        float           left

    .broadcast
        float           right


#record
    
    h2
        text-align      center

    h2.code
        color           $grey
        span
            color       $red
            font-family Monaco, Menlo, Consolas, "Courier New", monospace

    #start, #stop, #restart
        display         block
        width           50%
        padding         20px
        margin          20px auto
        font-size       1.5em
        font-weight     bold

    #stop
        padding         120px 60px

    .recording, .complete
        display         none


#listen

    .error
        display         none

    .records
        max-height      500px
        overflow        scroll

    input
        color           $red
        margin          20px auto
        font-size       1.5em
        display         block
        padding         15px 0 10px
        text-align      center
        font-weight     bold
        width           33%

    input::placeholder, input::-webkit-input-placeholder
        color           $pink

    .btn
        width           30%
        display         block
        margin          auto
        font-size       1.5em

    .recording, .complete
        display         none

    #restart
        margin-top      20px