extends ../layout

block head
    script(src='/socket.io/socket.io.js')
    script(src='js/ZeroClipboard.min.js')
    script(src='js/canvas3DGraph.js')
    != js('make/listen')
    

block content

    #listen

        .alert.error.alert-error.wrapper
            a.close(href='#', type='button', data-dismiss='alert') x
            h4.alert-heading Error
            p.message

        .before.wrapper

            input#secret(placeholder='Enter 4 Digit Code')
            a#start.btn.btn-success.btn-large(href='#') Start Listening

        .recording.wrapper
            h2 Listening...
            
            #g-holder.graph
                #canvasDiv
                    canvas#graph(width="600", height="600")
                    #gInfo
                #controls

            .well
                h4 Your Records:
                .records
                    table.table.table-striped
                        thead
                            tr
                                th Alpha
                                th Beta
                                th Gamma
                                th X
                                th Y
                                th Z
                        tbody#dump
                        thead
                            tr
                                th Alpha
                                th Beta
                                th Gamma
                                th X
                                th Y
                                th Z

                #arr_dump

        #clip_container
            p Copy to Clipboard
            #clip_button